.header{
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0 ;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 50px;
    margin-top: 0;
}

.navbar > li{
    color: #fff;
}

.navbar > li:hover{
    color: turquoise ;
}

.productContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products{
    width: 25%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

.productDesc{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.add{
    color: orangered;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.add:hover{
    color: green;
    background-color: orange;
}

.remove{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.remove:hover{
    color: red;
    background-color: gray;
}
